{% extends 'base.partial' %}

{% block content %}
{% include "projects_modal.partial" %}

<!-- Single column, fullscreen, with a container suspended in the middle that has all the little formatting. -->

<div class="row primary">
    <div class="col">
        <div class="vcenter container py-5">
            <div class="row">
                <div class="col-lg-6 py-3 inline-center d-flex justify-content-center">
                    <div role="region" aria-label="Picture of the author.">
                        <picture>
                            <source
                                    type="image/webp"
                                    sizes="200w, 300w, 600vw"
                                    srcset="images/image_200.webp 200w, images/image_300.webp 300w, images/image_450.webp 450w, images/image.webp 600w"
                            >
                            <img class="img-fluid bloom"
                                 src="images/ahliah.png"
                                 srcset="images/image_200.png 200w, images/image_300.png 300w, images/image_450.png 450w, images/image.png 600w"
                                 sizes="200w, 300w, 600vw"
                                 alt="A photo of Ahliah smiling while wearing an orange and turquoise silk scarf from the Library of Congress."
                                 width="600"
                            >
                        </picture>
                    </div>
                </div>
                <div class="col-lg-6 inline-center">
                    <div class="container" role="region" aria-label="Contact information and blurb.">
                        <div class="container" id="nameContainer">
                            <h1 class="text-center">Ahliah Jo Bratzler</h1>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <h2 class="text-center mb-4">
                                    Writer and public librarian specializing in LGBTQ+ inclusivity and intellectual freedom. But like, in a cool way.
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-4">
							<div class="col-0 col-md-2"></div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://www.linkedin.com/in/ajbratzler" target="_blank" rel="noreferrer"
                                       aria-label="Check out my LinkedIn profile!">
                                        <i class="fab fa-linkedin-in fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://twitter.com/ahliahjo" target="_blank" rel="noreferrer"
                                       aria-label="Find me on Twitter!">
                                        <i class="fab fa-twitter fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://www.instagram.com/ahliahjo" target="_blank" rel="noreferrer"
                                       aria-label="Check me out on Instagram!">
                                        <i class="fab fa-instagram fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="mailto:joe@joekaufeld.com" aria-label="Send me an email!">
                                        <i class="fas fa-envelope fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-0 col-md-2"></div>
                        </div>
                        <div class="row">
							<div class="col-0 col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="d-grid gap-2 mb-2">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#projectModal">
                                        Publications
                                    </button>
                                </div>
                            </div>
							<div class="col-0 col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
